<!DOCTYPE html>
<html>

<head>
    <title>IMMENSE DEAL</title>

    <link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bigelow Rules' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/home.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>

<body>
    <script>

        <% if(flash.success && flash.success.length > 0) { %>
            new Noty({
                theme: 'metroui',
                text: "<%= flash.success %>",
                type:  'success',
                layout:  'topRight',
                timeout : 1500

            }).show();
            <% } %>
            <% if(flash.error && flash.error.length > 0) { %>
            new Noty({
                theme: 'metroui',
                text: "<%= flash.error %>",
                type:  'error',
                layout:  'topRight',
                timeout : 2000

            }).show();
            <% } %>

        </script>
    <div id="topdiv">
        <div class="col-2" id="td2">
            ImmenseDeal
        </div>

        <div class="col-5 td" id="td3">
            <form>
                <input type="search" name="message" value="search" style="width: 80%;">
                <input type="submit" name="se" style="width: 15%; font-size: 90%;"value="search">
            </form>
        </div>

        <div id="td35" class="col-xl-2 col-lg-3 col-md-1 col-sm-3 td"></div>

        <div class="col-xl-1 col-lg col-sm-2 td" id="td4" style="text-align: right;">
            categories
        </div>

        <div id="signin" class="col-xl-1 col-lg col-sm-2 td" style="text-align: center">
            <i id="sign" class="far fa-user"></i>
            <% if(typeof(account) == 'undefined'){%>
                <a href="signin" style="text-decoration: none; color: #393f4d;">  SignIn  </a>
            <% }else{ %>
                    <a href="accinfo"><span style="text-decoration: none; color: #393f4d;"><%= account.name %></span>
             <% } %>
         </div>
         
       <a href="cart">
      	<div id="kart-pop" class="col-xl-1 col-lg col-sm-2td">
     	  	<img src="cart.png" id="cart">
     	  </div>
        </a>
        </div>


        <div>
            <img id="fb" src="fb.png" style="height: 50px; width: 50px;">
        </div>

        <div>
            <img id="twit" src="twitter.png" style="height: 50px; width: 50px;">
        </div>

        <div id="kart"><img src="kart.png" style="height: 40px; width: 40px;">

        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" name="top"><h4>BUY/SELL WITH IMMENSE</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" id="addProduct" href="addproduct"> <h5>Add Product</h5><span class="sr-only">(current)</span></a>
                </li>
             
            
              </ul>
              <a href="/sign-out">
                <button class="primary">
                   <div id="sign-out">
                     <i  class="fa fa-power-off"></i><b>  Sign-Out</b>
                   </div>
                </button> 
                
                 </a>
            </div>
          </nav>
          
          <div id="top-div">
              
                <a href="home">
                    <span id="nav-top">TOP</span>
                </a>
            
            
          </div>
       

        <!-- MAIN DIV STARTS -->
        <div id="main_div">

            <%  if(locals.account){ %>
           
            <br><br>
           
            <div id="yproduct">
                <div id="ypl" class="col-xl-12 row">
                   
                    <% for(let p of product){ %>
                        
                        <a href="/template/<%= p._id %>" class="productlink">
                      
                           <div class="back col-xl-3 col-lg-5 card  press" id="p_div3">
                          
                               <div><p><b>product by: <%= p.account.name %></b></p> </div> 
                                <div class="imgdiv">
                                        <img src="<%= p.avatar %>" alt="product img not available"><br>
                                </div>

                                <div >
                                
                                    <div id="price">
                                        <h4>
                                            Rs. <%= p.price %>
                                        </h4>
                                    </div>

                                        <h5> Name :  <%= p.pname %><br></h5>  
                                    
                                    <a href="/addtocart/<%= p._id %>" class="btn press"><b>ADD To CART</b></a>
                                    <p> <%= p.total %> Customer reviews </p>
                                </div>
                          
                           </div>
                         </a>
                     <% } %>
                


              </div>
              <!-- End of YPL -->

              
                
            </div>
            <!-- ending locals.account  -->
            <% } %> 
            <br>
            <hr style="background-color: rgb(172, 161, 161);">
            <div id="terms">
                <br>
                <span>Terms and Conditions</span>
                <span>Privacy Note</span>
                <span>Help</span>
                <span style="color: grey;">©2019 ImmenseDeal.com</span>
                <br><br>
            </div> 
        </div>
        
        <script src="/jquery.js"></script>
        <script src="/script.js"></script>
</body>

</html>